* {
  font-family: "Raleway", sans-serif;
}

.root {
  height: 100%;
  width: 100%;
}

a:hover {
  color: #47ffbb;
  text-decoration: none;
}

body {
  height: 100%;
  width: 100%;
  background-image: url("../src/images/9A2A8277.JPG");
  background-size: cover;
  background-repeat: repeat;
}

/*PHONES SIZE*/
@media only screen and (min-width: 200px) and (max-width: 699px) {
  /* GLOBAL CONTROLS */
  .opening {
    margin: 15px auto 15px auto;
    height: 700px;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.3);
  }

  /*HEADER CONTROLS*/
  .logo {
    height: 37px;
    width: auto;
    margin: 15px 0px 0px 5px;
  }

  .links {
    background-color: transparent;
    margin: 15px 0px 0px 0px;
    padding: 0;
    float: right;
  }

  .portfolio,
  .about,
  .contact,
  .blog {
    background: none;
    border: none;
    font-size: 17px;
    color: #efefef;
    display: inline-block;
    margin-right: 15px;
  }
  .about,
  .contact {
    margin-top: 10px;
  }
  /*------------------------*/

  /*OPENING CONTROLS*/
  .h1A {
    text-align: center;
    padding-top: 200px;
    font-size: 40px;
    color: #e1e1e1;
  }

  .p1A {
    text-align: center;
    font-size: 15px;
    color: #e1e1e1;
  }

  .click {
    margin-top: 300px;
    bottom: 10px;
    font-size: 20px;
    color: #e1e1e1;
    text-align: center;
  }
  /*------------------------*/

  /*ABOUT CONTROLS*/
  .left {
    margin: 0 auto;
    padding: 0;
  }

  .right {
    margin: 0 auto;
    padding: 0;
    text-align: right;
  }

  .head-shot {
    width: 150px;
    height: auto;
    margin: 10px;
  }

  .about-h2 {
    margin: 5px 10px 0px 0px;
    color: black;
  }

  .about-p {
    margin: 5px 10px 0px 0px;
    color: grey;
    font-size: 13px;
  }

  .about-p2 {
    margin: 10px 10px 0px 0px;
    color: grey;
    font-size: 12px;
  }

  .explain {
    margin: 270px 20px 5px 20px;
    color: #e1e1e1;
    font-size: 20px;
    text-align: center;
  }

  .social {
    margin: 0px auto 0px auto;
    text-align: center;
  }

  .social-img {
    height: 35px;
    width: auto;
    margin: 15px;
  }
  /*------------------------*/
  /*PORTFOLIO CONTROLS*/
  .projects {
    text-align: center;
  }

  @keyframes greyscale {
    from {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }
    to {
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
    }
  }
  .project-img {
    /*-webkit-filter: grayscale(100%);
    filter: grayscale(100%);*/
    height: 100px;
    width: auto;
    margin: 40px 50px 0px 50px;
    transition: all 0.8s ease;
  }

  .project-img:hover {
    /*animation: greyscale 1s forwards;*/
    transition: all 0.8s ease;
  }

  .lang-logos {
    text-align: center;
  }

  .lang-logo-img {
    height: 50px;
    width: auto;
    /*-webkit-filter: grayscale(100%);
    filter: grayscale(100%);*/
    margin: 40px 10px 0px 10px;
  }

  .lang-logo-img:hover {
    /*animation: greyscale 1s forwards;*/
    transition: all 0.8s ease;
  }
  /*-----------------------*/

  /*BLOG CONTROLS*/

  .blog-area {
    padding-top: 20px;
  }
  .blog-entry {
    padding-top: 10px;
    height: 200px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0px auto 20px auto;
  }

  .entry-img {
    height: 60px;
    width: auto;
    border-radius: 100%;
    margin: 0px 15px 15px 15px;
  }

  .name-date {
    height: 70px;
    width: auto;
    text-align: right;
    display: inline-block;
  }

  .entry-name {
    font-size: 24px;
    width: 190px;
  }

  .entry-date {
    font-size: 15px;
    width: 190px;
  }

  .entry-desc {
    word-wrap: wrap;
    text-align: center;
    font-size: 18px;
  }
  /*-----------------------*/
}

/*TABLET AND SMALL LAPTOP*/
@media only screen and (min-width: 700px) and (max-width: 1019px) {
  /* GLOBAL CONTROLS */
  .opening {
    margin: 35px auto 15px auto;
    height: 700px;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.3);
  }
  /*HEADER CONTROLS*/
  .logo {
    height: 37px;
    width: auto;
    margin: 25px 0px 0px 15px;
  }

  .links {
    background-color: transparent;
    margin: 27px 0px 0px 0px;
  }

  .portfolio,
  .about,
  .contact,
  .blog {
    background: none;
    border: none;
    font-size: 20px;
    color: #efefef;
    margin-right: 20px;
    display: inline-block;
  }
  /*------------------------*/

  /*OPENING CONTROLS*/
  .h1A {
    text-align: center;
    padding-top: 300px;
    font-size: 65px;
    color: white;
  }

  .p1A {
    text-align: center;
    font-size: 25px;
    color: white;
  }

  .click {
    display: none;
  }
  /*-------------------*/

  /*ABOUT CONTROLS*/
  .left {
    margin: 0 auto;
    height: 700px;
    padding: 0;
  }

  .right {
    margin: 0 auto;
    padding: 0;
    text-align: right;
  }

  .head-shot {
    width: 250px;
    height: auto;
    margin: 30px;
  }

  .about-h2 {
    margin: 50px 50px 0px 0px;
    color: white;
    font-size: 40px;
  }

  .about-p {
    margin: 10px 50px 0px 0px;
    color: white;
    font-size: 20px;
  }

  .about-p2 {
    margin: 10px 50px 0px 0px;
    color: white;
    font-size: 18px;
  }

  .explain {
    margin: 200px 60px 15px 50px;
    color: white;
    font-size: 25px;
    text-align: right;
  }

  .social {
    margin: 0 auto;
    text-align: center;
  }

  .social-img {
    height: 50px;
    width: auto;
    margin: 25px;
  }
  .social-img:hover {
    transition: all 0.8s ease;
    animation: greyscale 1s forwards;
  }
  /*------------------------*/
  /*PORTFOLIO CONTROLS*/
  .projects {
    text-align: center;
  }

  @keyframes greyscale {
    from {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }
    to {
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
    }
  }
  .project-img {
    /*-webkit-filter: grayscale(100%);
    filter: grayscale(100%);*/
    height: 125px;
    width: auto;
    margin: 40px 50px 0px 50px;
    transition: all 0.8s ease;
  }

  .project-img:hover {
    /*animation: greyscale 1s forwards;*/
    transition: all 0.8s ease;
  }

  .lang-logos {
    text-align: center;
  }

  .lang-logo-img {
    height: 80px;
    width: auto;
    /*-webkit-filter: grayscale(100%);
    filter: grayscale(100%);*/
    margin: 40px 15px 0px 15px;
  }

  .lang-logo-img:hover {
    /*animation: greyscale 1s forwards;*/
    transition: all 0.8s ease;
  }
  /*-----------------------*/

  /*BLOG CONTROLS*/
  .blog-area {
    padding-top: 20px;
  }
  .blog-entry {
    padding-top: 10px;
    height: 200px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0px auto 20px auto;
    position: relative;
  }

  .entry-img {
    height: 60px;
    width: auto;
    border-radius: 100%;
    margin: 0px 15px 15px 15px;
  }

  .name-date {
    height: 70px;
    width: auto;
    text-align: right;
    display: inline-block;
  }

  .entry-name {
    font-size: 24px;
    width: 190px;
  }

  .entry-date {
    font-size: 15px;
    width: 190px;
  }

  .entry-desc {
    word-wrap: wrap;
    text-align: center;
    font-size: 18px;
  }
  /*-----------------------*/
}

/*Regular Screen*/
@media only screen and (min-width: 1020px) and (max-width: 1439px) {
  /* GLOBAL CONTROLS */
  .opening {
    margin: 35px auto 15px auto;
    height: 700px;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.3);
  }
  /*HEADER CONTROLS*/
  .logo {
    height: 40px;
    width: auto;
    margin: 25px 0px 0px 15px;
  }

  .links {
    background-color: transparent;
    margin: 30px 0px 0px 0px;
  }

  .portfolio,
  .about,
  .contact,
  .blog {
    background: none;
    border: none;
    font-size: 20px;
    color: #efefef;
    margin-right: 20px;
    display: inline-block;
  }
  /*------------------------*/

  /*OPENING CONTROLS*/
  .h1A {
    text-align: center;
    padding-top: 300px;
    font-size: 65px;
    color: white;
  }

  .p1A {
    text-align: center;
    font-size: 25px;
    color: white;
  }
  .click {
    display: none;
  }
  /*-------------------*/

  /*ABOUT CONTROLS*/
  .left {
    margin: 0 auto;
    height: 700px;
    padding: 0;
  }

  .right {
    margin: 0 auto;
    padding: 0;
    text-align: right;
  }

  .head-shot {
    width: 220px;
    height: auto;
    margin: 50px;
  }

  .about-h2 {
    margin: 50px 50px 0px 0px;
    color: white;
    font-size: 40px;
  }

  .about-p {
    margin: 10px 50px 0px 0px;
    color: white;
    font-size: 20px;
  }

  .about-p2 {
    margin: 10px 50px 0px 0px;
    color: white;
    font-size: 18px;
  }

  .explain {
    margin: 200px 60px 15px 50px;
    color: white;
    font-size: 25px;
    text-align: right;
  }

  .social {
    margin: 0 auto;
    text-align: center;
  }

  .social-img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    height: 45px;
    width: auto;
    margin: 25px;
  }

  .social-img:hover {
    animation: greyscale 1s forwards;
    transition: all 0.8s ease;
  }

  /*------------------------*/
  /*PORTFOLIO CONTROLS*/
  .projects {
    text-align: center;
  }

  @keyframes greyscale {
    from {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }
    to {
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
    }
  }
  .project-img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    height: 200px;
    width: auto;
    margin: 40px 30px 0px 30px;
    transition: all 0.8s ease;
  }

  .project-img:hover {
    animation: greyscale 1s forwards;
    transition: all 0.8s ease;
  }

  .lang-logos {
    text-align: center;
  }

  .lang-logo-img {
    height: 50px;
    width: auto;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    margin: 40px 30px 0px 30px;
  }

  .lang-logo-img:hover {
    animation: greyscale 1s forwards;
    transition: all 0.8s ease;
  }
  /*-----------------------*/

  /*BLOG CONTROLS*/
  .blog-area {
    padding-top: 20px;
  }
  .blog-entry {
    padding-top: 10px;
    height: 200px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0px auto 20px auto;
    position: relative;
  }

  .entry-img {
    height: 60px;
    width: auto;
    border-radius: 100%;
    margin: 0px 15px 15px 15px;
  }

  .name-date {
    height: 70px;
    width: auto;
    text-align: right;
    display: inline-block;
  }

  .entry-name {
    font-size: 24px;
    width: 190px;
  }

  .entry-date {
    font-size: 15px;
    width: 190px;
  }

  .entry-desc {
    word-wrap: wrap;
    text-align: center;
    font-size: 18px;
  }
  /*-----------------------*/
}

/*Large Screen*/
@media only screen and (min-width: 1440px) and (max-width: 3000px) {
  /* GLOBAL CONTROLS */
  .opening {
    margin: 35px auto 15px auto;
    height: 700px;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.3);
  }

  /*HEADER CONTROLS*/
  .header-row {
    background-color: transparent;
  }

  .logo {
    height: 50px;
    width: auto;
    margin: 30px 0px 0px 20px;
  }

  .links {
    background-color: transparent;
    margin: 35px 0px 0px 0px;
  }

  .portfolio,
  .about,
  .contact,
  .blog {
    background: none;
    border: none;
    font-size: 25px;
    color: #efefef;
    margin-right: 20px;
    display: inline-block;
  }
  /*------------------------*/

  /*OPENING CONTROLS*/
  .h1A {
    text-align: center;
    padding-top: 300px;
    font-size: 65px;
    color: white;
  }

  .p1A {
    text-align: center;
    font-size: 25px;
    color: white;
  }

  .click {
    display: none;
  }
  /*------------------------*/

  /*ABOUT CONTROLS*/
  .left {
    margin: 0 auto;
    height: 700px;
    padding: 0;
  }

  .right {
    margin: 0 auto;
    padding: 0;
    text-align: right;
  }

  .head-shot {
    width: 400px;
    height: auto;
    margin: 50px;
  }

  .about-h2 {
    margin: 50px 50px 0px 0px;
    color: white;
    font-size: 40px;
  }

  .about-p {
    margin: 10px 50px 0px 0px;
    color: white;
    font-size: 20px;
  }

  .about-p2 {
    margin: 10px 50px 0px 0px;
    color: white;
    font-size: 18px;
  }

  .explain {
    margin: 200px 60px 0px 50px;
    color: white;
    font-size: 25px;
    text-align: right;
  }

  .social {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    display: block;
  }

  .social-img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    height: 45px;
    width: auto;
    margin: 65px 45px 0px 45px;
    transition: all 0.8s ease;
  }

  .social-img:hover {
    transition: all 0.8s ease;
    animation: greyscale 1s forwards;
  }
  /*------------------------*/

  /*PORTFOLIO CONTROLS*/
  .projects {
    text-align: center;
  }

  @keyframes greyscale {
    from {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }
    to {
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
    }
  }
  .project-img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    height: 200px;
    width: auto;
    margin: 40px 30px 0px 30px;
    transition: all 0.8s ease;
  }

  .project-img:hover {
    animation: greyscale 1s forwards;
    transition: all 0.8s ease;
  }

  .lang-logos {
    text-align: center;
  }

  .lang-logo-img {
    height: 100px;
    width: auto;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    margin: 100px 30px 0px 30px;
  }

  .lang-logo-img:hover {
    animation: greyscale 1s forwards;
    transition: all 0.8s ease;
  }
  /*-----------------------*/

  /*BLOG CONTROLS*/
  .blog-area {
    padding-top: 20px;
  }
  .blog-entry {
    padding-top: 10px;
    height: 200px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0px auto 20px auto;
    position: relative;
  }

  .entry-img {
    height: 60px;
    width: auto;
    border-radius: 100%;
    margin: 0px 15px 15px 15px;
  }

  .name-date {
    height: 70px;
    width: auto;
    text-align: right;
    display: inline-block;
  }

  .entry-name {
    font-size: 24px;
    width: 190px;
  }

  .entry-date {
    font-size: 15px;
    width: 190px;
  }

  .entry-desc {
    word-wrap: wrap;
    text-align: center;
    font-size: 18px;
  }
  /*-----------------------*/
}
